nav
  center(50em)

  a
    padding-left 1rem
    padding-right 1rem
    padding-top 1rem
    padding-bottom 1rem

    &:hover
      background-color lightgrey

    span
      margin-left 0.5rem

    stack()

    @media (min-width: 30em)
      unstack()

