*
  box-sizing border-box

html, body
  font-size 100%

_margin-top()
  margin-top 1rem

$webkit-visited-link = rgb(85, 26, 139)

//importing full path as a workaround
//https://github.com/mojotech/jeet/issues/493
@import 'jeet/_jeet.styl'

//edit() // highlight the box model so you can see wtf is goin on

@import '_forms'
@import '_buttons'
@import '_nav'


body
    font-family sans-serif

section
    cf()
    center(1000px)
